/* Index */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/background.png);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.user {
    background-color: rgb(254, 178, 110);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.userlog {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headindex {
    background-color: rgb(254, 178, 110);
}

.logo {
    width: 67px;
    margin-left: 10px;
}

.searchbar {
    background-color: rgba(255, 255, 255, 0.508);
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 20px;
    padding: 19px;
}

.indbutton {
    padding: 6px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: rgba(255, 255, 255, 0.665);
    border: solid 2px rgba(0, 0, 0, 0.487);
    border-radius: 10px;
}

.bannerindex {
    width: 100%;
}

.categoriasindex {
    background-color: rgba(0, 0, 0, 0.381);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 18px;
    border-radius: 20px;
}


.indexbody {
    display: flex;
    flex-direction: column;
}

.hcate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 11px;
    margin-left: 30px;
    margin-bottom: 6px;
}

.divcate {
    width: 218px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.produim {
    width: 190px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.produtit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.produdes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.produprec {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.produinfo {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(87, 87, 87, 0.719);
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 6px;
    width: 104px;
}

footer {
    width: 100%;
    background-color: rgb(254, 178, 110);
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    margin-top: 2%;
}

.footul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-top: 0;
}

/* Category */
.categorysec {
    display: flex;
}

.categorynav {
    padding-right: 40px;
    background-color: rgba(192, 109, 36, 0.666);
}

.categoryul {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: space-around;
    margin-top: 0;
}

.categorya {
    color: black;
}

.categorili {
    margin-top: 25px;
}

.categoryproducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: #0000005c;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 100%;
    align-content: flex-start;
}

.cateprod {
    margin-right: 60px;
    height: 539px;
}

.footcate {
    margin-top: 0;
    border-radius: 0;
}

/* Detalle */
.detalletit {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectiondetalle {
     display: flex;
    margin-left: 50px;
    background-color: #00000040;
    padding: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.detallea {
    color: black;
}

.imgdetalle {
    width: 456px;
    border-radius: 20px;
}

.desctit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 0;
}

.uldetalles {
    display: flex;
    flex-direction: column;
    height: 410px;
    justify-content: space-between;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.tagstit {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 50px;
}

.ultags {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    padding: 0;
    margin-bottom: 30px;
}

.comentariodetalles {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
}

.reviewsdetalle {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.detalleinput {
    background-color: rgba(50, 50, 50, 0.286);
    height: 30px;
    border: 0;
    border-radius: 20px;
    padding: 19px;
    margin-right: 10px;
}

.volveraliniciow {
    font-family: Arial, Helvetica, sans-serif;
    color: #fc9802;
    font-weight: bold;
    margin-bottom: 0;
}


/* regsiter */
.usersec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    justify-content: center;
}

.form_user {  
    background-color: rgba(0, 0, 0, 0.295);
    padding: 26px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 490px;
}

.acolor{
    color: rgb(255, 119, 0);
}

.inputregi {
    background-color: #f0f8ff73;
    border: solid 2px white;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}

.buttonregi {
    width: 100px;
    padding: 6px;
    border-radius: 20px;
}

    .errorlogin {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
    }

    .userwelcome {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    }

/* Search */
.searchprodu {
    height: 110vh;
}

.sin_resultados {
    display: none;
}

.searchcate {
    height: 562px;
    margin-right: 77px;
}

@media (max-width: 426px) {
    /* INDEX */
    header {
        flex-direction: column;
    }

    .userlog {
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .logo {
        width: 80px;
    }

    .searchbar {
        margin-bottom: 11px;
    }

    .categoriasindex {
        flex-wrap: wrap;
    }

    .divcate {
        width: 153px;
        padding: 0;
        margin: 6px;
    }

    .produim {
        width: 146px;
    }

    .produtit {
        margin-left: 7px;
    }

    .produdes {
        margin-left: 7px;
    }

    .produprec {
        margin-left: 7px;
    }

    .produinfo {
        width: 71px;
        margin-bottom: 11px;
        margin-left: 7px;
        font-size: 10px;
    }

    .categoryul {
        padding: 21px;
        padding-top: 0;
    }

    .categorya {
        font-size: 16px;
    }

    .footul {
        font-size: 12px;
    }

    /* CATEGORY */
     .categoryproducts {
        padding-left: 0;
        justify-content: center;
    }

    .cateprod {
        height: auto;
        margin-right: 0;
    }

    /* DETALLE */
        .sectiondetalle {
        flex-direction: column;
        margin-left: 5px;
        padding: 14px;
        margin-right: 5px;
        width: 300px;
    }

    .imgdetalle {
    width: 275px;
    margin-bottom: 10px;
    }

    .tagstit, .ultags, .comentariodetalles, .reviewsdetalle {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    /* SEARCH */
        .categorynav{
        padding-right: 10px;
    }

    .searchcate {
        margin-right: 0;
        height: auto;
    }

    .searchprodu {
        height: auto;
    }
}